.form-ctn {
    display: grid;
    row-gap: 20px;
    width: 400px;
    border: 1px solid gray;
    padding: 30px;
    border-radius: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}